@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: lighter;
    padding-left: 10px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;
    
}

body {
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}

header {
    height: 10px;
}

.navbar li {
    display: inline;
    float: right;
    padding: 20px;
}

nav {
    height: 20px;
}

#hero-image {
    float: right;
    width: 100%;

}