@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* all content*/

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

/* Text */

body {
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;   
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;   
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;   
}

/* Home Page*/

#logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    font-weight: lighter;
    float: left;
    padding-left: 30px;
    text-decoration: none;
    color: black;
}

/* Tag Line*/

#tag-heading {
    width: 100%;
    height: 100px;
    margin-bottom: 150px;
    background: #000000;
    opacity: 0.65;
    bottom: 100px;
    position: absolute;
}

#tag-heading h2 {
    color: #FFFFFF;
    margin-top: 15px;
}

.sub-heading {
    height: 100px;
    margin-top: 35px;
    
}

/* Menu bar*/

#menu li{
    display: inline;
    float: right;
    margin-right: 30px;
    text-align: center;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

#menu, #logo {
    line-height: 100px;
}

#hero-image {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

/* Services Page*/

.services-captions {
    width: 50%;
    height: auto;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: none; 
}


  .container {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    padding-top: 25px;
    
  }
  
  
  .centered {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }


/* About Page*/

.about-me-section {
    height: auto;
    text-align: center;
    float: left;
    width: 65%;
    background-color: black;
    margin-bottom: 25px;

}

.about-me {
    text-align: center;
    padding: 25px;
    color: white;
    
}

#pt-image {
    float: right;
    padding-left: 25px;
    z-index: 1;
}