@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* all content*/

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    
}

/* Text */

body {
    font-size: 100%;
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 320%;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 300%;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;   
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 280%;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;   
}

.sub-heading {
    height: 1%; /* was 100px*/
    margin-top: 1%;
    margin-bottom: 25px;
    background-color: white;

}

/* Home Page*/

#logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 350%;
    letter-spacing: 10px;
    font-weight: lighter;
    float: left;
    margin-top: 10px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
}

#hero-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

#hero-image img{
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

.tag-heading {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    bottom: 15%;
    position: absolute;
}

/* Menu bar*/

#menu {
    line-height: 500%;
}

#menu li{
    display: inline;
    float: right;
    margin-right: 30px;
    text-align: center;
    font-size: 90%;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

/* Services Page*/

  .services-images {
    width: 100%;
    height: 250px;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin-bottom: 25px;
}  

  .services-text {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
  }

/* About Page*/

.about-sections {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
}

.grid-container {
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.about-text {
    color: white;
    text-align: center;
    padding: 25px;
    max-width: 80%;
    height: auto;
    overflow: hidden;
}

#pt-image {
    float: right;
    padding: 25px;
    height: auto;
    width: 50%;
}

   
/* Testimonials Page*/

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

.testimonials {
    width: 40%;
    border: black;
    border-style: double;
    color: black;
    padding: 25px;
    margin: 0 25px 25px 25px;
}

/* Contact Page*/

/* Form */

.form-image {
    background: url("/assets/images/best-mens-gym-t-shirts.jpg")
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 25px;
}

.contact-form {
    margin: auto;
    color: white;
    font-size: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    padding: 30px;
    height: 390px;
}

.text-input {
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 10px 20px 0;
    background: transparent;
    border: 1px solid #fafafa;
    border-radius: 2px;
    display: inline-block;
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
    font-size: 100%;
}

.text-input:hover {
    border-color: black;
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}

option {
    color: black;
    font-size: 100%;
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}

option:hover {
    color: white;
    background-color: black;
}

::placeholder {
    color: white;
    font-size: 100%;
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}

.submit-button {
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: white;
    color: black;
}

.submit-button:hover {
    background-color:black;
    color: white;
}

/* Social Media*/

footer {
    height: 10px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 250%;
    padding: 0 5%;
    margin: 1%;
    color: black;
}

  /* Media Queries */

    /* larger to medium screens size from 1200px wide and smaller */

    @media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1058px) {
.testimonials, .testimonials-container {
    width: 100%;
    }

/* medium screens size from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 1%;
        line-height: 25px;
    }
}

@media screen and (max-width: 768px) {

    #logo {
        margin: 0 auto;
        text-align: center;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 1%;
        line-height: 25px;
    }

    #menu ul {
        width: 100%;
    }

    h2 {
        font-size: 300%;
    }

    h3 {
        font-size: 280%;
    }

    h4 {
        font-size: 260%;
    }    

}

@media screen and (max-width: 600px) {
    /* small screens size from 6000px wide and down */

    #logo {
        font-size: 280%;
    }

    #menu {
        font-size: 90%;
    }

    h2 {
        font-size: 240%;
    }

    h3 {
        font-size: 220%;
    }

    h4 {
        font-size: 200%;
    }

    body {
        font-size: 70%;
    }

    .services-images {
        height: 100px;
    }

    #pt-image {
        float: unset;
        margin: 0 auto;
        display: block;
        width: 70%;
    }

    .about-text {
        width: 100%;
        margin: 0 auto;
    }
}